$radius: 500px;
$spacing: 20px;
$control-radius: $radius / 4;
$base-color: #333;

html {
  background: url("http://res.cloudinary.com/eglital/image/upload/o_50/v1474266381/background-1588600_1920_lbzl4z.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  position: relative;
  width: $radius;
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
  
}
.base {
  position: absolute;
  width: $radius;
  height: $radius;
  background-color: $base-color;
  border-radius: 50%;
  z-index: 0;
  box-shadow: 2px 0px 3px 1px #666;
}
.pad {
  width: 225px;
  height: 225px;
  z-index: 1;
  margin: 12px;
  float: left;
  opacity: 0.6;
  cursor: pointer;
}
.pad:hover {
  opacity: 1.0;
}
#green {
  border-top-left-radius: 100%;
  background-color: green;
}
#red {
  border-top-right-radius: 100%;
  background-color: red;
  clear: right;
}
#yellow {
  border-bottom-left-radius: 100%;
  background-color: yellow;
  clear: left;
}
#blue {
  border-bottom-right-radius: 100%;
  background-color: blue;
}
#center {
  width: $control-radius * 2;
  height: $control-radius * 2;
  box-sizing: border-box;
  position: absolute;
  top: $control-radius;
  left: $control-radius;
  background-color: #eee;
  border-radius: 50%;
  border: $spacing solid $base-color;
}
button:focus {
  outline: none;
}
#logo {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 50px;
  top: -10px;
}
#reg-mark {
  font-size: 20px;
  vertical-align: top;
 }
#counter {
  position: absolute;
  width: 60px;
  height: 40px;
  background-color: #111;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  padding-top: 2px;
  color: red;
  top: $control-radius / 2 + 10;
  left: 13px;
  &:after {
    content: "COUNT";
    color: #111;
    position: absolute;
    font-size: 12px;
    left: 12px;
    bottom: -16px;
      }
}
#start, #strict {
  cursor: pointer;
      width: 35px;
      height: 35px;
      border: 5px solid #333;
      border-radius: 50%;      
      position: absolute;
      top: $control-radius - 25px;
      
      &:after {
        font-size: 12px;
        position: absolute;
        bottom: -23px; 
      }
    }
#start {
      background-color: #c00;
      left: $control-radius - 37px;
      
      &:after {
        content: "START";
        left: -5px;
      }
    }
    
    #strict {
      background-color: #cc0;
      left: $control-radius + 20px;
      
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        background: #700;
        border: 2px solid #300;
        border-radius: 50%;
        position: absolute;
        top: -16px;
        left: 8px;
      }
      
      &:after {
        content: "STRICT";
        left: -8px;
      }
    }
#strict.special:before {
  background: red;
}
#power-group {
      position: absolute;
      top: $control-radius + 40;
      left: $control-radius / 2;
  font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  margin-right: 5px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $base-color;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #999;
}

input:focus + .slider {
  box-shadow: 0 0 1px #999;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.lit {
  opacity: 1.0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
  left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

    